
header{
    box-sizing: border-box;
}

.categoryPageToutDefault__image {
    height: 300px;
    background-size: cover;
    background-position: center right;
    
}
@media (min-width: 1000px){
    .categoryPageToutDefault__image {
        height: 240px;
    }
}
@media(max-width: 625px){
    .categoryPageToutDefault__image {
        height: 400px;
    }
}

.naslov{
    float: left;
    font-family: Ewert;
    font-size: 100px;
    color: black; 
    
}
@media (min-width: 800px){
    .naslov{
        font-family: Ewert;
        font-size: 130px;
        color: black; 
    }
}
.side{
    float: right !important;
    width: 20%;
    padding:15px;
    box-sizing: border-box;
    text-align: center;
    
}
@media (min-width:600px){
    .side{
        float: right;
    }
}

header::after{
    content: "";
    clear: both;
    display: table;
}

#btnReg{
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(168, 57, 168);
    color: ivory;
    border: 2px solid rgb(128, 0, 107);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
#btnOdjava{
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(192, 49, 92);
    color: ivory;
    border: 2px solid rgb(145, 20, 62);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
#btnPrijava{
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
    cursor: pointer;
    background-color:rgb(228, 64, 160);   /* rgb(84, 84, 230);*/
    color: ivory;
    border: 2px solid rgb(187, 22, 132);   /* rgb(73, 73, 230);*/
    border-radius: 50%;
   
    
}
#btnReg:hover{
    background-color:rgb(235, 80, 235);
 
}
#btnPrijava:hover{
    background-color: rgb(243, 107, 175);
}
#btnOdjava:hover{
    background-color: rgb(226, 71, 123);
}
a{
    text-decoration: none;
    color: white !important;
}

.firstHeader {
    text-align: center;
    margin: 1em auto 2em;
    padding: 0 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}


#upBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 10px;
    border: none;
    outline: none;
    background-color:rgb(93, 93, 224);
    color: white !important;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    
  }



  